<h1><%= @profile.first %> <%= @profile.last %>'s Profile</h1>
<p>
  <%= image_tag @profile.avatar.url(:medium) %>
</p>
<p>
  <div class = "profile-display">
<table style="width:30%">
 <tr>
   <td><strong>Name:</strong></td>
   <td><%= @profile.first %> <%= @profile.last %></td>
 </tr>
 <tr>
   <td><strong>Email:</strong></td> 
   <td><%= @user.email %></td>
 </tr>
 <tr>
   <td><strong>Year:</strong></td>
   <td><%= @profile.year %></td>
 </tr>
 <tr>
   <td><strong>Dorm:</strong></td>
   <td><%= @profile.dorm %></td>
 </tr>
</table>
</div>
</p>

<%- if current_user %>
  <%- if current_user.admin %>
    <strong> You're an admin </strong><br>
    <%- if @user.admin %>
      <strong> This user is already an admin </strong>
    <%- else %>
      <strong> This users is not an admin </strong>
    <% end %><br>
    <%= link_to 'Upgrade user to Admin', profiles_upgradeUser_path(:id => @profile.id), method: :get %>
  <% end %>
<% end %>
