<p>
  <table>
    <tr>
      <td>
        <strong><%= link_to 'Profile:', profile_path(post.profile) %></strong>
        <%= post.profile.first %>
        <%= post.profile.last %>
        <br>
        <%= post.profile.user.email %>
        <br>
        <%= image_tag post.profile.avatar.url(:thumb) %>
      </td>
      <td>
        <strong>Title:</strong>
        <%= post.title %>
        <br>
        <strong>Body:</strong>
        <%= post.content %>
      </td>
    </tr>
  </table>
</p>
