<h1>New Thread</h1>

<%= form_with model: @group, local: true do |form| %>
 
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@group.errors.count, "error") %> prohibited
        this thread from being saved:
      </h2>
      <ul>
        <% @group.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :Title %><br>
    <%= form.text_area :title%>
  </p>

  Posts:
  <p>
    <%= form.fields_for :posts do |posts_form| %>
      <div class="field">
        <%= posts_form.label :title %>
        <%= posts_form.text_field :title, id: :post_title %>
      </div>

      <div class="field">
        <%= posts_form.label :content %>
        <%= posts_form.text_area :content, id: :post_content %>
      </div>
    <% end %>
  </p>

  <p>
    <%= form.submit :Post!%>
  </p>
 
<% end %>

<%= link_to 'Back', root_path %>